/*	primary: #006699
	primary opacity #66A3C2: 
	secondary #666666:
	light: #CCE0EB;
*/ 
/*navigation*/
.my-navbar {
	background-color:#006699; /*primary*/
	border-top-color:#666666; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#66A3C2; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#66A3C2; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#006699; /*primary*/
}
.sub-menu-items {
	background-color:#CCE0EB; /*light*/
}
/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#006699; /*primary*/
}

/*links*/
a {
	color:#006699; /*primary*/
}

/*footer*/
.footer {
	background-color:#006699; /*primary*/
	border-top-color:#666666; /*secondary*/
}