/******** BIPSA Diagram Map Styles ********/

.bipsa-container {
position: relative;
margin: 0 auto;
width: 656px;
height: 656px;
font-style:normal;
font-family: Arial Rounded MT Bold, Arial Rounded, 'Nunito', Arial, Sans-serif;
font-weight:normal;
font-size: 10px;
line-height:12px;
}

.new-diagram-css {
width: 656px;
height: 700px;
}

.new-diagram-css img {
margin-top: 0;
}

.bipsa-container a {
text-decoration: none;
color: #042eaa;
position: absolute;
z-index:10;
}

.bipsa-container img {
position: absolute;
z-index: 1;
}

.bipsa-container .triangle {
position: absolute;
z-index: 10;
text-align: center;
margin-top: 15px;
}

.bipsa-container .triangle.one {
height: 85px;
width: 95px;
top: 145px;
left: 279px;
}

.bipsa-container .triangle.two {
height: 60px;
width: 185px;
top: 236px;
left: 234px;
}

.bipsa-container .triangle.three {
height: 63px;
width: 252px;
top: 290px;
left: 200px;
}

.bipsa-container .triangle.four {
height: 80px;
width: 340px;
top: 355px;
left: 155px;
}

.bipsa-container .triangle.four a, .bipsa-container .triangle.five a {
margin-top: 3px;
display: inline-block;
position:relative;
}

.bipsa-container .triangle.four a:first-child, .bipsa-container .triangle.five a:first-child {
margin-top:0;
}

.bipsa-container .triangle.five {
height: 40px;
width: 375px;
top: 450px;
left: 135px;
}

.bipsa-container .triangle span {
font-size: 12px;
margin-bottom: 5px;
display: block;
}

.bipsa-container .triangle span.nolink {
text-decoration: none;
font-size: 10px;
color: #042eaa;
display: inline-block;
margin-top:3px;
}

.bipsa-container .triangle .assessment {
font-style: italic;
font-size: 11px;
}

.bipsa-container .circle-links {
margin-top: 15px;
}


/*.bipsa-container .circle-links {
width: 656px;
height: 656px;
position: absolute;
z-index: 5;
}*/

.bipsa-container .circle-links a {
display: inline-block;
text-align: center;
font-size: 10px;
line-height: 10px;
}

.bipsa-container .circle-links a:hover {
font-size: 12px;
line-height: 12px;
color: #fff;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
}

.bipsa-container .triangle a:hover, .bipsa-container a.triangle:hover {
color: #709820;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
}