/*	Stylesheet: CHC
	primary: #060;
	primary opacity #979C8F;
	secondary #666;
	secondary-light: #ccc;
	light: #DCDEDA;
	primary-faint: #f1f2f0;
	primary-extra-light: #979c8f;
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #666;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#060; /*primary*/
	border-top-color:#666; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#979C8F; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#979C8F; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#060; /*primary*/
}
.sub-menu-items {
	background-color:#dcdeda; /*light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f1f2f0; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#060; /*primary*/
}

/*links*/
a {
	color:#060; /*primary*/
}
.footer a {
	color:#979c8f; /*opacity*/
}
a:hover, a:focus {
	color:#060; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#979c8f; /*opacity*/
}
/*footer*/
.footer {
	background-color:#060; /*primary*/
	border-top-color:#666; /*secondary*/
	color:#fff;
}

th {
	background-color: #979c8f; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #666; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #ccc !important; /*secondary-light*/
}

th {
	color: #060; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#666; /*secondar*/
}
