/*	Stylesheet: CHC
	primary: #060 (changed from #515A45 20140820 SZC)
	primary opacity #979C8F
	secondary #666
	light: #DCDEDA
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #666;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#060; /*primary*/
	border-top-color:#666; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#979C8F; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#979C8F; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#060; /*primary*/
}
.sub-menu-items {
	background-color:#DCDEDA; /*light*/
}
/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#060; /*primary*/
}
h6.copyright {
	color:#fff;
}
/*links*/
a {
	color:#060; /*primary*/
}
.footer a {
	color:#979C8F; /*opacity*/
}
a:hover, a:focus {
	color:#060; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#979C8F; /*opacity*/
}
/*footer*/
.footer {
	background-color:#060; /*primary*/
	border-top-color:#666666; /*secondary*/
	color:#fff;
}
