/*	Stylesheet: ECI
	primary: #670001
	primary opacity #A46667: 
	secondary #666666:
	light: #E1CCCC;
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #666;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#670001; /*primary*/
	border-top-color:#666666; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#A46667; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#A46667; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#670001; /*primary*/
}
.sub-menu-items {
	background-color:#E1CCCC; /*light*/
}
/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#670001; /*primary*/
}
h6.copyright {
	color:#fff;
}
/*links*/
a {
	color:#670001; /*primary*/
}
.footer a {
	color:#A46667; /*opacity*/
}
a:hover, a:focus {
	color:#670001; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#A46667; /*opacity*/
}

/*footer*/
.footer {
	background-color:#670001; /*primary*/
	border-top-color:#666666; /*secondary*/
	color:#fff;
}
