/*	Stylesheet: FHC
	primary: #221B13;
	primary opacity: #7A7671; 
	secondary: #666;
	light: #D3D1D0;
	secondary-light: #ccc;
	primary-light: #bdbbb8;
	primary-extra-light: #e9e8e7;
	primary-faint: #f8f8f8;	
*/

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #666;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#221B13; /*primary*/
	border-top-color:#666666; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#7A7671; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#7A7671; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#221B13; /*primary*/
}
.sub-menu-items {
	background-color:#D3D1D0; /*light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f8f8f8; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#221B13; /*primary*/
}

/*links*/
a {
	/*color:#221B13; changed 2014-08-20 SZC to differentiate between text and links */ /*primary*/
	color: #846a00;
}
.footer a {
	color:#7A7671; /*opacity*/
}
a:hover, a:focus {
	/*color:#221B13; changed 2014-08-20 SZC to differentiate between text and links */ /*primary*/
	color: #846a00;
}
.footer a:hover, .footer a:focus {
	color:#7A7671; /*opacity*/
}
/*footer*/
.footer {
	background-color:#221B13; /*primary*/
	border-top-color:#666; /*secondary*/
	color:#fff;
}

th {
	background-color: #e9e8e7; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #6666; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #ccc !important; /*secondary-light*/
}

th {
	color: #221B13; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#666; /*secondary*/
}
