/*	Stylesheet: GCI
	primary: #010A59;
	primary opacity: #676C9B;
	secondary: #d1b317;
	light: #CCCEDE;
	secondary-light: #ddbe99;
	primary-light: #B3B6CD;
	primary-extra-light: #e6e6ee;
	primary-faint: #f8f8fa;
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ede1a2 !important; 
	border-top: 3px solid #d1b317;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#010A59; /*primary*/
	border-top-color:#d1b317; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#676C9B; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#676C9B; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#010A59; /*primary*/
}
.sub-menu-items {
	background-color:#CCCEDE; /*light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f8f8fa; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#010A59; /*primary*/
}

/*links*/
a {
	color:#010A59; /*primary*/
}
.footer a {
	color:#676C9B; /*opacity*/
}
a:hover, a:focus {
	color:#010A59; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#676C9B; /*opacity*/
}
/*footer*/
.footer {
	background-color:#010A59; /*primary*/
	border-top-color:#d1b317; /*secondary*/
	color:#fff;
}

th {
	background-color: #f8f8fa; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #d1b317; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #ddbe99 !important; /*secondary-light*/
}

th {
	color: #010A59; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#d1b317; /*secondary*/
}
