/*	Stylesheet: GNSS
	primary: #550055;
	primary opacity: #800080;
	secondary: #aa5d00;
	secondary-light: #ddbe99;
	primary-light: #D9B2D9;
	primary-extra-light: #ecd8ec;
	primary-faint: #f6ecf6;
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #d4ae80 !important; 
	border-top: 3px solid #aa5d00;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#550055; /*primary*/
	border-top-color:#aa5d00; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color: #800080; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color: #800080; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading {
	background-color: #800080; /*opacity*/
}

.sub-menu-heading a {
	background-color: #800080; /*opacity*/
}
.sub-menu-items {
	background-color: #ECD8EC; /*primary-extra-light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f6ecf6; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#550055; /*primary*/
}

/*links*/
a {
	color:#550055; /*primary*/
}
.footer a {
	color:#d9b2d9; /*light*/
}
a:hover, a:focus {
	color:#550055; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#d9b2d9; /*light*/
}

/*footer*/

.footer {
	background-color:#550055; /*primary*/
	border-top-color:#aa5d00; /*secondary*/
	color:#fff;
}

th {
	background-color: #ECD8EC; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #aa5d00; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #ddbe99 !important; /*secondary-light*/
}

th {
	color: #550055; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#aa5d00; /*secondary*/
}
