/*	Stylesheet: GPS
	primary: #6F0B09
	primary opacity #A96D6B: 
	secondary #0F0005:
	light: #E2CECE;
*/

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #0f0005;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#6F0B09; /*primary*/
	border-top-color:#0F0005; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#A96D6B; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#A96D6B; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#6F0B09; /*primary*/
}
.sub-menu-items {
	background-color:#E2CECE; /*light*/
}
/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#6F0B09; /*primary*/
}
h6.copyright {
	color:#fff;
}
/*links*/
a {
	color:#6F0B09; /*primary*/
}
.footer a {
	color:#A96D6B; /*opacity*/
}
a:hover, a:focus {
	color:#6F0B09; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#A96D6B; /*opacity*/
}
/*footer*/
.footer {
	background-color:#6F0B09; /*primary*/
	border-top-color:#0F0005; /*secondary*/
	color:#fff;
}
