/*	Stylesheet: GRC
	primary: #1B2B9C
	primary opacity #7680C4: 
	secondary #999:
	light: #D1D5EB;
	secondary-light: #d6d6d6;
	primary-light: #d1d5eb;
	primary-extra-light: #e8eaf5;
	primary-faint: #f6f7fb;
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #999;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#1B2B9C; /*primary*/
	border-top-color:#999999; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#7680C4; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#7680C4; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#1B2B9C; /*primary*/
}
.sub-menu-items {
	background-color:#D1D5EB; /*light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f6f7fb; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#1B2B9C; /*primary*/
}

/*links*/
a {
	color:#1B2B9C; /*primary*/
}
.footer a {
	color:#7680C4; /*opacity*/
}
a:hover, a:focus {
	color:#1B2B9C; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#7680C4; /*opacity*/
}
/*footer*/
.footer {
	background-color:#1B2B9C; /*primary*/
	border-top-color:#999; /*secondary*/
	color:#fff;
}

th {
	background-color: #e8eaf5; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #999; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #d6d6d6 !important; /*secondary-light*/
}

th {
	color: #1B2B9C; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#999; /*secondary*/
}
