/*	Stylesheet: HRH
	primary: #543C76;
	primary opacity: #988AAD;
	secondary: #999;
	light: #DDD8E4;
	secondary-light: #d6d6d6;
	primary-light: #ddd8e4;
	primary-extra-light: #eeecf1;
	primary-faint: #f6f6f8;
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #999;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#543C76; /*primary*/
	border-top-color:#999999; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#988AAD; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#988AAD; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#543C76; /*primary*/
}
.sub-menu-items {
	background-color:#DDD8E4; /*light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f6f6f8; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#543C76; /*primary*/
}

/*links*/
a {
	color:#543C76; /*primary*/
}
.footer a {
	color:#988AAD; /*opacity*/
}
a:hover, a:focus {
	color:#543C76; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#988AAD; /*opacity*/
}
/*footer*/
.footer {
	background-color:#543C76; /*primary*/
	border-top-color:#999; /*secondary*/
	color:#fff;
}

th {
	background-color: #eeecf1; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #999; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #d6d6d6 !important; /*secondary-light*/
}

th {
	color: #543C76; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#999; /*secondary*/
}
