/*	Stylesheet: JAM
	primary: #4480B2;
	primary opacity: #8FB3D1;
	secondary; #30669B;
	light: #DAE6F0;
	secondary-light: #d6e0eb;
	primary-light: #dae6f0;
	primary-extra-light: #ecf2f7;
	primary-faint: #f6f8fb;*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #dae6f0 !important; 
	border-top: 3px solid #30669b;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#4480B2; /*primary*/
	border-top-color:#30669B; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#8FB3D1; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#8FB3D1; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#4480B2; /*primary*/
}
.sub-menu-heading, .sub-menu-heading a:hover {
	color: #dae6f0;
}
.sub-menu-items {
	background-color:#DAE6F0; /*light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f6f8fb; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#4480B2; /*primary*/
}

/*links*/
a {
	color:#4480B2; /*primary*/
}
.footer a {
	color:#8FB3D1; /*opacity*/
}
a:hover, a:focus {
	color:#4480B2; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#8FB3D1; /*opacity*/
}
/*footer*/
.footer {
	background-color:#4480B2; /*primary*/
	border-top-color:#30669B; /*secondary*/
	color:#fff;
}

th {
	background-color: #ecf2f7; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #30669B; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #d6e0eb !important; /*secondary-light*/
}

th {
	color: #4480B2; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#30669B; /*secondary*/
}
