/*	Stylesheet: JAM
	primary: #4480B2
	primary opacity #8FB3D1: 
	secondary #30669B:
	light: #DAE6F0;
*/ 
/*navigation*/
.my-navbar {
	background-color:#4480B2; /*primary*/
	border-top-color:#30669B; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#8FB3D1; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#8FB3D1; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#4480B2; /*primary*/
}
.sub-menu-items {
	background-color:#DAE6F0; /*light*/
}
/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#4480B2; /*primary*/
}

/*links*/
a {
	color:#4480B2; /*primary*/
}

/*footer*/
.footer {
	background-color:#4480B2; /*primary*/
	border-top-color:#30669B; /*secondary*/
}