/*	Stylesheet: JHS
	primary: #6B8AA7
	primary opacity #A6B9CA: 
	secondary #1C2F74:
	light: #E1E8ED;
*/

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #e1e8ed !important; 
	border-top: 3px solid #1c2f74;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#6B8AA7; /*primary*/
	border-top-color:#1C2F74; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#A6B9CA; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#A6B9CA; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#6B8AA7; /*primary*/
}
.sub-menu-items {
	background-color:#E1E8ED; /*light*/
}
/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#6B8AA7; /*primary*/
}
h6.copyright {
	color:#fff;
}
/*links*/
a {
	color:#6B8AA7; /*primary*/
}
.footer a {
	color:#A6B9CA; /*opacity*/
}
a:hover, a:focus {
	color:#6B8AA7; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#A6B9CA; /*opacity*/
}
/*footer*/
.footer {
	background-color:#6B8AA7; /*primary*/
	border-top-color:#1C2F74; /*secondary*/
	color:#fff;
}
