d/*	Stylesheet: KCI
	primary: #660202
	primary opacity #A36767: 
	secondary #d5a63a:
	light: #E0CCCC;
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #eedbb0 !important; 
	border-top: 3px solid #d5a63a;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#660202; /*primary*/
	border-top-color:#d5a63a; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#A36767; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#660202; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#660202; /*primary*/
}
.sub-menu-items {
	background-color:#E6CA89; /*light*/
}
/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#6A531D; /*primary*/
}

h6.copyright {
	color:#fff;
}
/*links*/
a {
	color:#6A531D; /*primary*/
}
.footer a {
	color:#A36767; /*opacity*/
}
a:hover, a:focus {
	color:#6A531D; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#A36767; /*opacity*/
}
/*footer*/
.footer {
	background-color:#660202; /*primary*/
	border-top-color:#d5a63a; /*secondary*/
	color:#fff;
}
