/*	Stylesheet: PHS
	primary: #29090C;
	primary opacity: #7F6B6D;
	secondary: #666;
	light: #D4CECE;
	secondary-light: #ccc;
	primary-light: #d4cece;
	primary-extra-light: #eae6e7;
	primary-faint: #f7f5f5;*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #666;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#29090C; /*primary*/
	border-top-color:#666666; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#7F6B6D; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#7F6B6D; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#29090C; /*primary*/
}
.sub-menu-items {
	background-color:#D4CECE; /*light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f7f5f5; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#29090C; /*primary*/
}

/*links*/
a {
	color:#29090C; /*primary*/
}
.footer a {
	color:#7F6B6D; /*opacity*/
}
a:hover, a:focus {
	color:#29090C; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#7F6B6D; /*opacity*/
}
/*footer*/
.footer {
	background-color:#29090C; /*primary*/
	border-top-color:#666; /*secondary*/
	color:#fff;
}

th {
	background-color: #eae6e7; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #666; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #ddbe99 !important; /*secondary-light*/
}

th {
	color: #29090C; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#666; /*secondary*/
}
