/*	Stylesheet: SSS
	primary: #ef3e33;
	primary opacity: #99140c;
	secondary: #333;
	light: #f2665d;
	secondary-light: #999;
	primary-light: #f2665d;
	primary-extra-light: #fbc9c6;
	primary-faint: #fef1f0;*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #fef1f0 !important; /*primary faint*/
	border-top: 3px solid #ef3e33; /*primary*/
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#ef3e33; /*primary*/
	border-top-color:#333; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#99140c; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#99140c; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#ef3e33; /*primary*/
}
.sub-menu-items {
	background-color:#eee;
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f8f8f8;
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#ef3e33; /*primary*/
}

/*links*/
a {
	color:#99140c; /*opacity*/
}
.footer a {
	color:#ef3e33; /*primary*/
}
a:hover, a:focus {
	color:#ef3e33; /*primary*/
}
.footer a:hover, .footer a:focus {
	color:#f2665d; /*primary-light*/
}
/*footer*/
.footer {
	background-color:#333; /*primary*/
	border-top-color:#ef3e33; /*secondary*/
	color:#fff;
}

th {
	background-color: #fbc9c6; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #333; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #999 !important; /*secondary-light*/
}

th {
	color: #ef3e33; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#ef3e33; /*primary*/
}
