
.clear {
	clear:both;
}
a {
	color:#005daa;
}
.gray-darker {
	color:#000;
	opacity: 0.93.5;
}
.gray-dark {
	color:#000;
	opacity:0.60;
}
.gray {
	color:#000;
	opacity:0.335;
}
.gray-light
{
	color:#000;
	opacity:0.20;
}
.gray-lighter{
	color:#000;
	opacity:0.135;
}
.my-navbar {
	background-color:#005daa;
	border-radius:0px;
	border-top:6px solid #7ac143;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	margin-bottom:10px;
}
.my-sub-navbar {
	background-color:#fff;
	border-radius:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	margin-bottom:0px;
	min-height:1px;
}
.my-sub-navbar .navbar-brand {
	float:none;
}
.nav-justified > li > a {
	line-height:28px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#669ecc;
}
.nav >li.active {
	background-color:#669ecc;
}
.jumptron {
	padding:32px 24px;
	padding-bottom:48px;
	color:inherit;
	background-color:#eee;
}
.jumptron h1 {
	font-size:63px;
}
.jumptron p {
	font-size:21px;
	font-weight: 200;
	margin-bottom:15px;
}
.footer {
	background-color: #005daa;
	color:#fff;
	padding-bottom:20px;
	padding-top:12px;
	margin-top:10px;
	border-top:6px solid #7ac143;
}
.footer a {
	color:#b2cee6;
}
.footer h4 {
	font-weight:bold;
	margin-bottom:20px;
}
ul.footer-links {
	margin-left:0;
	padding-left:0;
	list-style:none;
}
ul.footer-links li {
	margin-bottom:8px;
}
.mybutton {
	background-color:#005daa;
	color:#ffffff;
	border-radius:0;
}
.mybutton:hover, .mybutton:active, .mybutton:focus {
	background-color:#196DB2;
	color:#ffffff;
}
.mybutton:focus, .mybutton:active{
	background-color: #005499;
	outline: none;
}
#logo {
	margin-top:14px;
}
#logo a {
	display:inline-block;
	width:100%;
	height:110px;
	background:url(../images/WRDSB_Logo.svg) no-repeat;
	background-size:110px 110px;
	padding-left:120px;
	text-decoration:none;
	color:#000;
}
#logo a:hover, #logo a:active, #logo a:focus {
	text-decoration:none;
}

#logo a span {
	display:none;
}
#logo a h2, #logo a h3 {
	color:#005daa;
}
#logo a h2 {
	font-weight:bold;
	margin:0;
	top:48px;
	position:absolute;
}
#logo a h3 {
	margin:0;
	top:86px;
	position:absolute;
	letter-spacing:2px;
}
.staff-shortcuts {
	margin-top:40px;
	position:relative;
}
.staff-shortcuts a {
	margin:0 8px;
}
.searchbox {
	float:left;
	width:184px;
	margin-top:8px;
}
.searchbox input {
	width:170px;
	float:left;
	color:#666;
	padding:2px 4px;
}
.staff-shortcuts .icon-search {
	display:inline-block;
	position:relative;
	left:-22px;
	top:6px;
}
.navbar-search .icon-search {
	display:inline-block;
	position:relative;
	left:-24px;
	top:3px;
	color:#000;
}
.tweet {
	margin-bottom:18px;
}
h6.copyright {
	color:#669ECC;
}
.footer .social-icons span {
	font-size:28px;
	margin-right:10px;
}
.footer .social-icons a:hover {
	text-decoration: none;
	color:#e6eff6;
}
.header .social-icons a:hover {
	text-decoration:none;
	color:#669ecc;
}
.header .social-icons {
	margin-top:40px;
	float:right;
	width:64px;
	color:#005daa;
	font-size:22px;
	line-height:28px;
	padding-left:36px;
}
.accessability span {
	margin-right:4px; 
	cursor:pointer;
}
.accessability span.increase-font {
	font-size:24px;
}
.accessability span.decrease-font {
	font-size:16px;
}
.event {
	margin-bottom:12px;
	padding-bottom:8px;
	height:auto;
}
.event .when {
	width:20%;
	height:auto;
	border:1px solid #005daa;
	text-align:center;
	float:left;
}
.event .when .month {
	background-color:#005daa;
	color:#fff;
}
.event .when .date {
	font-size:30px;
}
.event .what {
	float:right;
	border:1px solid #005daa;
	width:78%;
	padding:6px;
}
.event .what span {
	font-weight: bold;
}
.event .what span.all-day:before {
	background-color:#005daa;
	color:#fff;
	content:"all day";
	padding:0 4px;
}
.navbar-brand {
	display:none;
}
.sub-menu-items {
	padding:8px;
	background-color:#CCDFEE;
}
.sub-menu-items ul {
	padding-left:0px;
	list-style: none;
}
.sub-menu-items ul li {
	margin-bottom:6px;
}
.sub-menu-heading {
	background-color:#005daa;
	color:#fff;
	padding:8px;
	font-weight:bold;
	font-size:20px;
}
.breadcrumb {
	margin-bottom:6px;
}
@media (max-width: 768px) {
	.header {
		display:none;
	}
	.my-navbar {
		border-top:3px solid #7ac143;
	}
	a.navbar-brand {
		display:inline;
	}
	.navbar-toggle {
		z-index:10;
		display:inline-block;
	}

	.my-navbar {
		color:#fff;
		margin-bottom:0px;
	}
	.my-navbar a {
		color:#fff;
	}
	/*a.logo {
		background:url(../images/WRDSB_Logo.svg) no-repeat;
		background-size:50px 50px;
		padding-left:60px;
	}*/
	h6.copyright {
		text-align:left;
	}
	.navbar-header {
		background:url(../images/WRDSB_Logo.svg) no-repeat;
		background-size:50px 50px;
		background-repeat: no-repeat;
		background-position:4px 2px;
		position:relative;
		height:55px;
	}
	.sub-navbar-header {
		position:relative;
	}
	.navbar-header a.navbar-brand {
		font-size:14px;
		padding-left:58px;
		font-weight:bold;
		margin-top:7px;
	}
	.sub-navbar-header span {
		font-size:16px;
		font-weight:bold;
		color:#000;
		display:inline-block;
	}
	.navbar-header .togglenav {
		background-color:transparent;
		right:40px;
		top:9px;
	}

	.sub-navbar-header .navbar-toggle .icon-bar {
		background-color:#000;
	}
	.sub-navbar-header .navbar-toggle {
		position: inherit;
		background-color: transparent;
	}
	.toogle-subnav {
		background-color:transparent;
		display:inline-block;
	}
	.togglesearch {
		background-color:transparent;
		right:0px;
		top:7px;
	}
	.navbar-search input[type="text"] {
		width:95%;
		padding:4px 8px;
		color:#333;
	}
	.container-top {
		padding:0px;
	}
	.container-breadcrumb {
		padding:0px;
	}
	.jumptron h1 {
		font-size:36px;
	}
	.navbar-toggle .icon-bar {
		height:3px;
		width:26px;
	}
	.navbar-toggle .icon-search {
		font-size:20px;
	}
	
}
@media (min-width: 768px) and (max-width: 991px) {
	#logo a h2 {
		font-size:22px;
		top:28px;
	}
	#logo a h3 {
		display:none;
	}
	.header .social-icons {
		width:23px;
		padding-left:0px;
	}
	.jumptron h1 {
		font-size:36px;
	}
	#logo a {
		background:url(../images/WRDSB_Logo.svg) no-repeat;
		background-size:80px 80px;
		background-repeat: no-repeat;
		background-position:4px 2px;
		position:relative;
		height:85px;
		padding-left:90px;
	}
	.social-icons {
		display:none;
	}
	.searchbox {
		float:left;
		width:177px;
	}
	.searchbox input {
		width:151px;
		float:left;
	}
	.staff-shortcuts .icon-search {

	}
	.accessability {
		float:left;
		margin-top:6px;
	}

}
@media (min-width: 992px) and (max-width: 1199px) {
 	#logo a h2 {
		font-size:26px;
		top:44px;
	}
	#logo a h3 {
		font-size:20px;
		top:78px;
	}
	.header .social-icons {
		width:23px;
		padding-left:0px;
		margin-top:22px;
	}
	.staff-shortcuts {
		margin-top:22px;
	}
	#logo a {
		background-size:100px 100px;
		height:101px;
		padding-left:110px;
	}
}
@media (min-width: 1200px) {
  	#logo a {
		height:110px;
	}
}