/*	Stylesheet: WOD
	primary: #12180A;
	primary opacity: #71746C;
	secondary: #666:
	light: #D0D1CE;
	secondary-light: #ccc;
	primary-light: #d0d1ce;
	primary-extra-light: #e7e8e6;
	primary-faint: #f5f6f5;
*/ 

/* login bar */
#loginbar { /* contains log in/out, Staff Website and sometimes School Handbook links */
	background-color: #ccc !important; 
	border-top: 3px solid #666;
	width:100%;
}

/*navigation*/
.my-navbar {
	background-color:#12180A; /*primary*/
	border-top-color:#666666; /*secondary*/
}
.nav >li > a:hover, .nav >li > a:focus {
	background-color:#71746C; /*opacity*/
}
.nav >li.active, 
.nav >li.current-page-ancestor, 
.nav >li.current_page_ancestor,
.nav >li.current-menu-item, 
.nav >li.current_page_item {
	background-color:#71746C; /*opacity*/
}
/*sub navigation*/
.sub-menu-heading, .sub-menu-heading a {
	background-color:#12180A; /*primary*/
}
.sub-menu-items {
	background-color:#e7e8e6; /*primary-extra-light*/
}

/* children in sub-nav */
.nav_current_page_children_container {
	background-color: #f5f6f5; /*primary-faint*/
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color:#12180A; /*primary*/
}

/*links*/
a {
	/*color:#12180A; removed 20140821 SZC */ /*primary*/
	/*color: #515A45; removed 20140922 SZC per Savio Wong */
	color: #690;
}
.footer a {
	color:#71746C; /*opacity*/
}
a:hover, a:focus {
	/*color:#12180A; removed 20140821 SZC */ /*primary*/
	/*color: #515A45; removed 20140922 SZC per Savio Wong */
	color: #690;
}
.footer a:hover, .footer a:focus {
	color:#71746C; /*opacity*/
}
/*footer*/
.footer {
	background-color:#12180A; /*primary*/
	border-top-color:#666; /*secondary*/
	color:#fff;
}

th {
	background-color: #e7e8e6; /*primary-extra-light*/
}

thead > tr > th {
        border-bottom: 2px solid #666; /*secondary*/
        }

tr:hover, tr:nth-child(odd):hover, tr:nth-child(even):hover {
	background-color: #ccc !important; /*secondary-light*/
}

th {
	color: #12180A; /*primary*/
}

#logo a h2, #logo a h3 {
	color:#666; /*secondary*/
}
